<style>
  .centered-card {
    margin: auto;
    width: 50%; /* You can adjust the width as needed */
  }
</style>

<br>
<br>
<img src="assets/TOF13.jpg" class="img-fluid. max-width: 100%; height: 15%;" alt="Responsive image"><br><br>

<div class="text-center">
    <h1><strong>The Dots</strong></h1>
<br>
<br>
<h3>Designed by Lars Tornøe <br>  
    | produced by New Works</h3>
  <br>
  <br>
  <h3>Table lamp with white or black marble base and white acrylic shade. Available in large <br>  
    and small size.</h3></div>
  <br>
  <br>
  <br>
  <br>

  <mat-card class="example-card centered-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>kizou</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/TOF14.jpg">
  
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>kizou</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF15.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>kizou</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF16.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>kizou</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF17.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>kizou</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF18.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
