<div class="container">
    <div class="text-container">
      
      
  
      <h2><strong>Address:</strong></h2>
      <p>
        3010 HENCHA<br>
        Sfax <br>
      </p>
  
      <h2><strong>Email</strong></h2>
      <p>
        maramghattassi@gmail.com<br>
      </p>
  
      <h2><strong>Phone:</strong></h2>
      <p>+216 25 108 691</p>
  
      <h2><strong>Instagram:</strong></h2>
      <p>@maramght</p>
    </div>
  
    <img src="assets/MARAM.jpg" class="img-thumbnail" alt="Lars Tornøe" />
  </div>
  