<div id="page">
  <div class="bar">
    <p>
        <mat-toolbar color="primary">
          
          <div class="button">
            <a mat-flat-button routerLink="/acceuille"color="grey"> KIZU</a>
            <a mat-flat-button routerLink="/HEX" color="grey"> HEX</a>
            <a mat-flat-button routerLink="/Dots"color="grey"> The Dots</a>
            <button mat-flat-button routerLink="/About" color="grey">about</button>
          </div>
            <div class="bar"></div>
            <div class="button">
            <a mat-raised-button  routerLink="/">Inscription </a>
            <a mat-raised-button routerLink="/login"> Login</a>
            </div>
            
       
        </mat-toolbar>
      </p>
</div>
</div>

