<div id="page">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>nom</mat-label>
              <input matInput >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>prenom</mat-label>
                <input matInput >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input matInput placeholder="name@example.com">
              </mat-form-field>
    
                <mat-form-field class="example-full-width">
                  <mat-label>mot de passe</mat-label>
                  <input matInput type="password">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>confirmer mot de passe</mat-label>
                    <input matInput type="password">
                  </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+216 &nbsp;</span>
                    <input type="tel" matInput placeholder="22-222-222">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field> 

                <button mat-flat-button routerLink="/acceuille" color="grey">submit</button>
        
     </form>
        </div>


    