<style>
  .centered-card {
    margin: auto;
    width: 50%; /* You can adjust the width as needed */
  }
</style>

<br>
<br>
<img src="assets/tof7.jpg" class="img-fluid. max-width: 100%; height: 15%;" alt="Responsive image"><br><br>

<div class="text-center">
    <h1><strong>HEX</strong></h1>
<br>
<br>
<h3>Designed by Lars Tornøe <br>  
    | produced by New Works</h3>
  <br>
  <br>
  <h3>Table lamp with white or black marble base and white acrylic shade. Available in large <br>  
    and small size.</h3></div>
  <br>
  <br>
  <br>
  <br>
  <mat-card class="example-card centered-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>hex</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/tof8.jpg">
  
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
                <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>

<br>
<br>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>hex</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF9.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
              <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>

<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>hex</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF10.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
              <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>hex</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF11.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
              <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<mat-card class="example-card centered-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>hex</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/TOF12.jpg">

  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
              <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<br>
